<%- include('common/_head', {title: title}) %>
<%- include('common/_header', {title: title}) %>

<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<%- include('common/_footer') %>
<%- include('common/_foot') %>
